components:
  schemas:
    Connection:
      properties:
        annotations:
          default: []
          items:
            type: string
          title: Annotations
          type: array
        post:
          maxLength: 30
          title: Post
          type: string
        pre:
          maxLength: 30
          title: Pre
          type: string
        synapses:
          additionalProperties:
            type: integer
          default: {}
          title: Synapses
          type: object
        type:
          maxLength: 20
          title: Type
          type: string
      required:
      - pre
      - post
      - type
      title: Connection
      type: object
    Dataset:
      properties:
        axes:
          anyOf:
          - type: object
          - type: 'null'
          title: Axes
        collection:
          maxLength: 20
          title: Collection
          type: string
        description:
          title: Description
          type: string
        emData:
          anyOf:
          - $ref: '#/components/schemas/EMData'
          - type: 'null'
        id:
          title: Id
          type: string
        name:
          maxLength: 50
          title: Name
          type: string
        neuron3DUrl:
          title: Neuron3Durl
          type: string
        time:
          title: Time
          type: number
        type:
          maxLength: 50
          title: Type
          type: string
        visualTime:
          title: Visual Time
          type: number
      required:
      - id
      - neuron3DUrl
      - emData
      - collection
      - name
      - description
      - time
      - visualTime
      - type
      title: Dataset
      type: object
    EMData:
      properties:
        maxZoom:
          title: Maxzoom
          type: integer
        minZoom:
          title: Minzoom
          type: integer
        nbSlices:
          title: Nbslices
          type: integer
        resourceUrl:
          title: Resourceurl
          type: string
        segmentationSize:
          anyOf:
          - maxItems: 2
            minItems: 2
            prefixItems:
            - type: integer
            - type: integer
            type: array
          - type: 'null'
          title: Segmentationsize
        segmentationUrl:
          anyOf:
          - type: string
          - type: 'null'
          title: Segmentationurl
        sliceRange:
          maxItems: 2
          minItems: 2
          prefixItems:
          - type: integer
          - type: integer
          title: Slicerange
          type: array
        tileSize:
          maxItems: 2
          minItems: 2
          prefixItems:
          - type: integer
          - type: integer
          title: Tilesize
          type: array
      required:
      - minZoom
      - maxZoom
      - nbSlices
      - tileSize
      - sliceRange
      - resourceUrl
      - segmentationUrl
      - segmentationSize
      title: EMData
      type: object
    ErrorMessage:
      properties:
        detail:
          title: Detail
          type: string
      required:
      - detail
      title: ErrorMessage
      type: object
    Input:
      properties:
        page:
          default: 1
          minimum: 1
          title: Page
          type: integer
      title: Input
      type: object
    Neuron:
      properties:
        datasetIds:
          items:
            type: string
          title: Datasetids
          type: array
        embryonic:
          default: false
          title: Embryonic
          type: boolean
        inhead:
          default: false
          title: Inhead
          type: boolean
        intail:
          default: false
          title: Intail
          type: boolean
        model3DUrls:
          items:
            type: string
          title: Model3Durls
          type: array
        name:
          title: Name
          type: string
        nclass:
          maxLength: 30
          title: Nclass
          type: string
        neurotransmitter:
          maxLength: 10
          title: Neurotransmitter
          type: string
        type:
          maxLength: 10
          title: Type
          type: string
      required:
      - name
      - datasetIds
      - model3DUrls
      - nclass
      - neurotransmitter
      - type
      title: Neuron
      type: object
    PagedNeuron:
      properties:
        count:
          title: Count
          type: integer
        items:
          items:
            $ref: '#/components/schemas/Neuron'
          title: Items
          type: array
      required:
      - items
      - count
      title: PagedNeuron
      type: object
info:
  description: ''
  title: C. Elegans Visualizer
  version: 1.0.0
openapi: 3.1.0
paths:
  /api/cells:
    get:
      description: Returns all the cells (neurons) from the DB
      operationId: get_all_cells
      parameters:
      - in: query
        name: dataset_ids
        required: false
        schema:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Dataset Ids
      - in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          title: Page
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedNeuron'
          description: OK
      summary: Get All Cells
      tags:
      - neurons
  /api/cells/search:
    get:
      operationId: search_cells
      parameters:
      - in: query
        name: name
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
      - in: query
        name: dataset_ids
        required: false
        schema:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Dataset Ids
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Neuron'
                title: Response
                type: array
          description: OK
      summary: Search Cells
      tags:
      - neurons
  /api/connections:
    get:
      description: Gets the connections of a dedicated Dataset
      operationId: get_connections
      parameters:
      - in: query
        name: cells
        required: true
        schema:
          title: Cells
          type: string
      - in: query
        name: dataset_ids
        required: true
        schema:
          title: Dataset Ids
          type: string
      - in: query
        name: dataset_type
        required: true
        schema:
          title: Dataset Type
          type: string
      - in: query
        name: threshold_chemical
        required: false
        schema:
          default: 3
          title: Threshold Chemical
          type: integer
      - in: query
        name: threshold_electrical
        required: false
        schema:
          default: 3
          title: Threshold Electrical
          type: integer
      - in: query
        name: include_neighboring_cells
        required: false
        schema:
          default: false
          title: Include Neighboring Cells
          type: boolean
      - in: query
        name: include_annotations
        required: false
        schema:
          default: false
          title: Include Annotations
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Connection'
                title: Response
                type: array
          description: OK
      summary: Get Connections
      tags:
      - connectivity
  /api/datasets:
    get:
      description: Returns all datasets or a filtered list based on provided IDs
      operationId: get_datasets
      parameters:
      - in: query
        name: ids
        required: false
        schema:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Ids
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dataset'
                title: Response
                type: array
          description: OK
      summary: Get Datasets
      tags:
      - datasets
  /api/datasets/{dataset}:
    get:
      description: Returns a specific dataset
      operationId: get_dataset
      parameters:
      - in: path
        name: dataset
        required: true
        schema:
          title: Dataset
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
          description: OK
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found
      summary: Get Dataset
      tags:
      - datasets
  /api/datasets/{dataset}/neurons:
    get:
      description: Returns all the neurons of a dedicated dataset
      operationId: get_dataset_neurons
      parameters:
      - in: path
        name: dataset
        required: true
        schema:
          title: Dataset
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Neuron'
                title: Response
                type: array
          description: OK
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found
      summary: Get Dataset Neurons
      tags:
      - datasets
  /api/live:
    get:
      description: Test if application is healthy
      operationId: live
      parameters: []
      responses:
        '200':
          description: OK
      summary: Live
      tags:
      - healthcheck
  /api/ping:
    get:
      description: test the application is up
      operationId: ping
      parameters: []
      responses:
        '200':
          description: OK
      summary: Ping
      tags:
      - healthcheck
  /api/ready:
    get:
      description: Test if application is ready to take requests
      operationId: ready
      parameters: []
      responses:
        '200':
          description: OK
      summary: Ready
      tags:
      - healthcheck
servers: []

